/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#map{
  background: red;
  height: 100vh;
  width: 75%;
  float: left;
}

.sidebar{
  background: blue;
  height: 100vh;
  width: 25%;
  float: right;
}